node_modules
dist
dist-ssr
*.local
.vite
.DS_Store
*.tsbuildinfo
.env*
!.env.example

# editor
.vscode/*
!.vscode/extensions.json
.idea

# tauri (added in Phase 1 implementation)
src-tauri/target
src-tauri/Cargo.lock
